@import url("https://fonts.googleapis.com/css2?family=Krub:ital,wght@1,300&display=swap");
body {
  background-color: #e9ecef !important;
}
.btn-info {
  background-color: blueviolet !important;
  border-color: blueviolet !important;
}
